{% extends 'base.html' %}
{% block title %}Directions{% endblock %}
{% block header %}Courtesy Navigation Service{% endblock %}
{% block content %}

<div id="map"></div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap"></script>
<div>
    <form id="get-directions" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form
            if field.widget.input_type != 'hidden' %}
            <p>
                <b>{{ field.label }}</b>
                {{ field(id=field.name) }}
                {% for error in field.errors %}
                {{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
    <hr><hr>
    <h6>Navigation</h6>
    <h6 id="route-panel" class="text-black bg-light"></h6>
    <hr><hr>
</div>
<script>
    const origin = "{{ start }}";  
    const destination = "{{ end }}";  
    const mode = "{{ mode }}";  
</script>
<script src="static/maps.js"></script>
{% endblock %}