{% extends 'base.html' %}
{% block title %}Leadership{% endblock %}

{% block content %}
<div class="photo-wrapper">
    <div class="photo-container">
        <img class="photo" src="https://home.army.mil/hawaii/application/files/thumbnails/small/5616/3054/0433/MG_Ryan_Command_Photo.jpg" alt="MG Ryan, Commanding">
        <img class="photo" src="https://home.army.mil/hawaii/application/files/thumbnails/small/7916/3417/6481/CSM_Haynie_CMD_Photo.jpg" alt="Division CSM Haynie, 25ID"></p>
    </div>
</div>
{% endblock %}