<h1>LIGHTNING OPERATIONS GUIDE</h1>
<h2>LOG COULD GO HERE</h2>
<div class="pdf-container">
    <embed src="{{ url_for('static', filename='pdfs/letter1.pdf') }}" type="application/pdf" width="600" height="400px">
</div>
<h3>BMM Analysis?!comma Lorem ipsum dolor sit amet consectetur     <a href="/">or, Click to Go Back</a></h3>
<p>Define the goal</p>
<p>Collecting the data - <b><i>standardize</i></b></p>
<p>Patterns and trends</p>
<p>Impacts - <i>"Why do we care about reaching the goal?"</i></p>
<p>Causes - <i>"What's driving the pain-train?"</i></p>
<p>Recommendations, realistic targets, and expectations</p>
<br>
<i>SFC Cabrera, Lightning Labs</i>